<acl>
    <page-services-wanquota>
        <name>Services: WAN Quotas</name>
        <patterns>
            <pattern>ui/wanquota/*</pattern>
            <pattern>api/wanquota/*</pattern>
        </patterns>
    </page-services-wanquota>
    <page-services-wanquota-readonly>
        <name>Services: WAN Quotas (read only)</name>
        <patterns>
            <pattern>api/wanquota/report/*</pattern>
            <pattern>api/wanquota/mcp/*</pattern>
        </patterns>
    </page-services-wanquota-readonly>
</acl>
